# Palvelimen portti (lokaalissa oletus 3001, Render asettaa tämän automaattisesti)
PORT=3001
NODE_ENV=development

# Supabase API -tiedot
SUPABASE_URL=https://xalwsdeeujyhoqygcoul.supabase.co
SUPABASE_ANON_KEY=sb_publishable_r6j0Nf2Y0ndCMqZyzgtVVQ_J1OKjsCv

# Valinnainen: Supabase Service Role Key (antaa palvelimelle täydet oikeudet tietokantaan)
SUPABASE_SERVICE_ROLE_KEY=
